/// Establece la fuente de un elemento
/// @group Typography
/// @param {String} $font-family - La familia de fuentes a utilizar
/// @param {Length} $font-size - El tamaño de la fuente
/// @param {String} $font-weight [normal] - El peso de la fuente
/// @example scss
///   .element {
///     @include font('Arial', 16px, bold);
///   }
@mixin font($font-family, $font-size, $font-weight: normal) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}

/// Centra y estiliza el encabezado de una sección
/// @group Layout
/// @example scss
///   .section {
///     @include section-header;
///   }
@mixin section-header {
    text-align: center;
  
    h2 {
      font-size: xx-large;
      font-weight: 400;
      margin-bottom: 0.3rem;
    }
}

/// Centra un elemento usando flexbox
/// @group Layout
/// @example scss
///   .centered-element {
///     @include center;
///   }
@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

/// Aplica estilos de botón personalizados
/// @group Components
/// @param {Color} $background-color - El color de fondo del botón
/// @param {Color} $color - El color del texto del botón
/// @example scss
///   .button {
///     @include button-style(#007bff, #ffffff);
///   }
@mixin button-style($background-color, $color) {
    background-color: $background-color;
    color: $color;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: darken($global-background-color, 10%);
    }
}

/// Aplica estilos responsivos basados en un punto de quiebre
/// @group Responsive
/// @param {Length} $breakpoint - El punto de quiebre para aplicar los estilos
/// @content [Estilos a aplicar cuando se alcance el punto de quiebre]
/// @example scss
///   @include responsive(768px) {
///     .element {
///       font-size: 14px;
///     }
///   }
@mixin responsive($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}
